*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

ul{
    padding: 30px 50px;
    text-align: right;

}

li{
    margin: 13px;
    display: inline;
}

li a{
    font-size: 27px;
    font-family: "Futura-Boo";
    transition: 0.7s;
}

li a:link, a:visited, a:active {
    color: #fff;
}

li a:hover{
    color:#3E5DDB;
}

.top{
    height:800px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.top img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 140px;
}

.top p{
    padding-top: 40px;
    color: #fff;
    font-size: 45px;
    font-family: "Futura-LigObl";
    text-align: center;
}

h2{
    text-align: center;
    color: #3E5DDB;
    font-size: 60px;
    font-family: "Futura-Bol";
    padding: 50px;
}

.introduction{
    height: auto;
    /* transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    transition: transform 1s, opacity 1s, visibility 1s; */
}

.is-fadein {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

.content{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.intro-bgi1{
    width: 300px;
    height: 150px;
    background-image: url(images/introduction_001.jpg);
    background-size: cover;
    padding: 100px;
}

.intro-bgi2{
    width: 300px;
    height: 150px;
    background-image: url(images/introduction_002.jpg);
    background-size: cover;
    padding: 100px;
}

.detail{
    width: 400px;
    height: 100px;
    text-align: center;
    padding: 0 70px;
}

.detail p{
    width: auto;
    text-align: left;
    line-height: 30px;
}

.detail a{
    padding: 20px auto;
    width: 180px;
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.detail a:hover{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.bluebtn{
    background-color: #3E5DDB;
}

.yelbtn{
    background-color: #FFBF01;
}

.courses{
    height: auto;
    width: auto;
    margin-top: 100px;
}

.tiles{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile{
    width: 240px;
    height: 340px;
    margin: 10px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 10px;
}

.logo-box{
    height: 200px;
}

.course-logo{
    padding-top: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.course-tile{
    height: auto;
}

.course-title{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.course-btn{
    display: block;
    width: 170px;
    height: 40px;
    padding: 40px auto;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: #fff;
    display: block;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
}

.course-btn a:hover{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.html .course-btn{
    background-color: #F16529;
}
.css .course-btn{
    background-color: #29A9DF;
}
.unity .course-btn{
    background-color: #333333;
}
.ruby .course-btn{
    background-color: #FF5252;
}
.js .course-btn{
    background-color: #FFD700;
}
.swift .course-btn{
    background-color: #FE7536;
}
.go .course-btn{
    background-color: #73CEDD;
}

.images{
    height: 450px;
}

.slider{
    margin: 0 auto;
    width: 80vw;
}
.slider img{
    height: auto;
    width: 120%;
}


/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: black;
}

.access{
    margin-top: 100px;
    height: 650px;
}

iframe{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer p{
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
    font-family: "Futura-Lig";
    color:#3E5DDB;
}

/* ---- reset ---- */ 
canvas{
    display: inline;
    vertical-align: bottom;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
} 

/* ---- particles.js container ---- */ 
#particles-js{
    position: relative;
    width: 100%; 
    height: 100%; 
    background-color: #d6e6f9; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
} 
/* ---- stats.js ---- */ 
.count-particles{ 
    background: #000022; 
    position: absolute; 
    top: 48px; left: 0; 
    width: 80px; 
    color: #13E8E9; 
    font-size: .8em; 
    text-align: left; 
    text-indent: 4px; 
    line-height: 14px; 
    padding-bottom: 2px; 
    font-family: Helvetica, Arial, sans-serif; font-weight: bold; 
} 

.js-count-particles{ 
    font-size: 1.1em; 
}

 #stats, .count-particles{
    -webkit-user-select: none; 
    margin-top: 5px; 
    margin-left: 5px; 
} 

#stats{ 
    border-radius: 3px 3px 0 0; 
    overflow: hidden; 
} 

.count-particles{ 
    border-radius: 0 0 3px 3px; 
}