*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

ul{
    padding: 30px 30px;
    text-align: right;
}

li{
    margin: 15px;
    display: inline;
}

li a{
    font-size: 25px;
}

li a:link, a:visited, a:active {
    color: #fff;
}

li a:hover{
    color:#3E5DDB;
}

.top{
    height: 800px;
    background-image: url(images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.top img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
}

.top p{
    padding-top: 60px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

h2{
    text-align: center;
    color: #3E5DDB;
    font-size: 55px;
    padding: 70px;
}

.introduction{
    height: auto;
}

.content{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.intro-bgi1{
    width: 300px;
    height: 150px;
    background-image: url(images/introduction_001.jpg);
    background-size: cover;
    padding: 100px;
}

.intro-bgi2{
    width: 300px;
    height: 150px;
    background-image: url(images/introduction_002.jpg);
    background-size: cover;
    padding: 100px;
}

.detail{
    width: 400px;
    height: 100px;
    text-align: center;
    padding: 0 70px;
}

.detail p{
    width: auto;
    text-align: left;
    line-height: 30px;
}

.detail a{
    padding: 20px auto;
    width: 150px;
    font-size: 25px;
    color: #fff;
    display: block;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.detail a:hover{
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1); 
}

.bluebtn{
    background-color: #3E5DDB;
}

.yelbtn{
    background-color: #FFBF01;
}

.courses{
    height: auto;
    background-color: #D6E6F9;
}

.tiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile{
    width: 220px;
    height: 360px;
    margin: 10px;
    background: #fff;
    border-radius: 10px;
}

.logo-box{
    height: 200px;
}

.course-logo{
    padding-top: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.course-tile{
    height: auto;
}

.course-title{
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.course-btn{
    display: block;
    width: 180px;
    height: 40px;
    padding: 40px auto;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    display: block;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
}

.course-btn a:hover{
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1); 
}

.html .course-btn{
    background-color: #F16529;
}
.css .course-btn{
    background-color: #29A9DF;
}
.unity .course-btn{
    background-color: #333333;
}
.ruby .course-btn{
    background-color: #FF5252;
}
.js .course-btn{
    background-color: #FFD700;
}
.swift .course-btn{
    background-color: #FE7536;
}
.go .course-btn{
    background-color: #73CEDD;
}

.course-btn a:hover{
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1); 
}

.images{
    height: 800px;
}

.access{
    height: 650px;
}

iframe{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer p{
    padding-top: 100px;
    text-align: center;
}